@charset "utf-8";

.u-section-1 .u-sheet-1 {
  min-height: 254px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 24px;
  margin-bottom: 4px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 226px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  margin: 0 -25px 0 auto;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 226px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 30px 7px;
}

.u-section-1 .u-image-1 {
  width: 168px;
  height: 205px;
  margin: -30px 10px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 474px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 186px;
  }

  .u-section-1 .u-text-1 {
    margin-right: -20px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 186px;
  }

  .u-section-1 .u-image-1 {
    height: 206px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 423px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-text-1 {
    margin-right: -15px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 142px;
  }

  .u-section-1 .u-image-1 {
    width: 100px;
    height: 180px;
    margin-right: auto;
    margin-left: auto;
    margin-top: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 798px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    margin-right: -17px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 456px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 634px;
  }

  .u-section-1 .u-text-1 {
    margin-right: -10px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 237px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-bottom: 56px;
  }

  .u-section-1 .u-image-1 {
    width: 186px;
    height: 199px;
    margin-top: -11px;
    margin-bottom: -37px;
    margin-left: 60px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 517px;
}

.u-section-2 .u-text-1 {
  margin: 20px auto 0 503px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
  position: relative;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 410px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-image-1 {
  width: 128px;
  height: 160px;
  margin: 0 auto;
}

.u-section-2 .u-text-2 {
  margin: 37px auto 0;
}

.u-section-2 .u-text-3 {
  margin: 37px auto 0 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 410px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-image-2 {
  width: 200px;
  height: 103px;
  object-position: 50% 0%;
  margin: 28px auto 0;
}

.u-section-2 .u-text-4 {
  font-weight: 700;
  margin: 66px auto 0;
}

.u-section-2 .u-text-5 {
  margin: 50px -17px 0 auto;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 423px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-image-3 {
  width: 160px;
  height: 140px;
  /*margin: 10px 65px 0 auto;*/
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.u-section-2 .u-text-6 {
  font-weight: 700;
  margin: 47px 116px 0 auto;
}

.u-section-2 .u-text-7 {
  margin: 70px 0 0;
}

.u-section-2 .u-layout-cell-4 {
  min-height: 406px;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-image-4 {
  width: 160px;
  height: 203px;
  margin: 13px auto 0;
}

.u-section-2 .u-text-8 {
  margin: 20px auto 0;
}

.u-section-2 .u-text-9 {
  margin-left: 0;
  margin-right: 0;
}

.u-section-2 .u-layout-cell-5 {
  min-height: 406px;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px;
}

.u-section-2 .u-image-5 {
  width: 160px;
  height: 160px;
  margin: 34px auto 0;
}

.u-section-2 .u-text-10 {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 0;
}

.u-section-2 .u-text-11 {
  margin-left: 0;
  margin-right: 0;
}

.u-section-2 .u-layout-cell-6 {
  min-height: 432px;
}

.u-section-2 .u-container-layout-6 {
  padding: 30px;
}

.u-section-2 .u-image-6 {
  width: 160px;
  height: 154px;
  object-position: 50% 100%;
  margin: 20px auto 0;
}

.u-section-2 .u-text-12 {
  margin: 27px auto 0;
}

.u-section-2 .u-text-13 {
  margin-left: 0;
  margin-right: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 447px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 415px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 338px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 338px;
  }

  .u-section-2 .u-text-5 {
    margin-top: 37px;
    margin-right: -8px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 349px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 92px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 335px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 335px;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 356px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 369px;
    min-height: 369px;

  }

  .u-section-2 .u-text-1 {
    margin-left: 318px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-image-2 {
    width: 180px;
    height: 93px;
  }

  .u-section-2 .u-text-5 {
    margin-right: -6px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-image-3 {
    margin-right: auto;
    margin-left: auto;

  }

  .u-section-2 .u-text-6 {
    margin-right: 65px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1253px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 239px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-5 {
    margin-right: -17px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 188px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2597px;
    text-align: center;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 27px;
    margin-left: auto;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 53px;
  }

  .u-section-2 .u-text-5 {
    margin-right: -10px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 116px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 500px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  margin: 59px auto 0;
}

.u-section-3 .u-text-2 {
  margin: 20px auto 0;
}

.u-section-3 .u-text-3 {
  margin: 64px auto 0;
}

.u-section-3 .u-text-4 {
  margin: 49px auto 60px;
}